header {
   background-color: rgb(54, 101, 184);
   padding: 10px;
   margin: -10px;
}

a {
   font-size: 30px;
   text-decoration: none;
   color: white;
   margin: 10px;
}

a:hover {
   background-color: rgb(112, 162, 249);
   /* text-decoration: underline; */
}

.main {
   display: block;
}

img {
   width: 40%;
   height: auto;
   float: left;
   margin-right: 10px;
   margin-left: -10px;
}

p {
   font-family: Times;
   font-weight: 500;
   font-size: 40px;
}






.title {
   text-align: center;
}

h2 {
   font-weight: lighter;
   font-family: Arial;
}